<div class="panel panel-default customer-item">
    <div class="panel-heading">
        <h3 class="panel-title">{{item.surname}}, {{item.forename}}</h3>
    </div>
    <div class="panel-body">
        <p>Address: {{item.address}}</p>
    </div>
    <div class="panel-footer text-right">
      {{yield}}
    </div>
</div>
