<h2>{{title}}</h2>

<div class="row">

  <div class="col-md-6">
    {{invoice-item-form model=invoice customers=model.customers items=model.items line=line buttonLabel=buttonLabel action='saveInvoice' addLine='addLine'}}
  </div>

  <div class="col-md-4">
    {{#invoice-item item=invoice}}
      <br/>
    {{/invoice-item}}
  </div>

</div>
